body {
  font-family: "Gilroy", sans-serif;
}

.content-position {
  min-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
  padding-left: 315px;
  padding-right: 315px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

header,
section,
footer {
  width: 100%;
}

/* -----------------header--------------- */

.header__flex {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 33px;
  margin-left: 115px;
}

.menu__item + .menu__item {
  margin-left: 31px;
}

.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 106.09%;
  color: #161616;
  position: relative;
  padding: 5px 0;
}

.menu__link::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #161616;
  position: absolute;
  top: 101%;
  right: 0px;
  transform: scale(0);
  transition: transform 200ms linear;
}

.menu__link:hover::before,
.menu__link:focus::before {
  transform: scale(1);
}

.button {
  background: linear-gradient(
    89.72deg,
    #021a12 1.43%,
    #01553b 48.97%,
    #028a61 95.6%
  );
  border-radius: 16px;
  width: 232px;
  height: 55.72px;
  user-select: none;
  border: transparent;
  position: relative;
  display: inline-block;
}

.button__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 106.09%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 43px;
  transform: translateY(-50%);
  z-index: 5;
}

.button::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(
    89.72deg,
    #028a61 1.43%,
    #01553b 48.97%,
    #021a12 95.6%
  );
  transition: opacity 500ms linear;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}

.button:hover::after,
.button:focus::after {
  opacity: 1;
}

:target {
  background-color: #08b883;
}

/* -----------hero------------ */

.hero {
  margin-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    no-repeat bottom / cover url(../images/bg-hero.jpg);
  height: 975px;
  padding-top: 110px;
}

.hero__position {
  position: relative;
}

.hero__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 26px;
}

.hero__title-path {
  color: #08b883;
}

.hero__text {
  font-size: 24px;
  line-height: 106.09%;
  color: #ffffff;
  margin-bottom: 26px;
}

.button__container {
  position: relative;
  display: inline-block;
  margin-bottom: 160px;
}

.button__container::after {
  content: "";
  background-image: url(../images/maket-room.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 289px;
  height: 219px;
  position: absolute;
  top: 4px;
  right: -185px;
  pointer-events: none;
}

.hero__button {
  width: 365px;
  height: 89px;
  border-radius: 16px;
}

.hero__button-text {
  font-size: 27px;
  left: 45px;
}

.button__clon {
  width: 100%;
  height: 100%;
  left: 0;
  top: 4px;
  position: absolute;
  background-image: linear-gradient(
    90.07deg,
    #f1dd7c 4.21%,
    #f4e58d 45.13%,
    #c99527 91.92%
  );
  border-radius: 16px;
  display: inline-block;
}

.button__clon::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: linear-gradient(
    90.07deg,
    #c99527 4.21%,
    #f4e58d 45.13%,
    #f1dd7c 91.92%
  );
  border-radius: 16px;
  opacity: 0;
  transition: opacity 500ms linear;
}

.button__container:hover .button__clon::after,
.button__container:focus .button__clon::after {
  opacity: 1;
}

.hero__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
}

.hero__link::before {
  content: "";
  display: inline-block;
  background-image: url(../images/location-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 44px;
  height: 51px;
  margin-right: 33px;
}

.hero-img {
  background: no-repeat center / contain url(../images/two-path.png);
  width: 917px;
  height: 682px;
  position: absolute;
  top: 120px;
  right: 9px;
}

.hero-img::after {
  content: "";
  background-image: url(../images/one-path.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 483px;
  height: 715px;
  position: absolute;
  top: 0;
  left: 0;
}

/* -------------about----------- */

.about__list {
  margin-bottom: 189px;
}

.about__item {
  position: relative;
}

.about__item:nth-child(1) {
  margin-bottom: 104px;
}

.about__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.about__text {
  font-size: 24px;
  line-height: 130%;
  color: #2b2b2b;
}

.about__text:not(:last-child) {
  margin-bottom: 25px;
}

.about__text + .about__text {
  padding-bottom: 261px;
}

.about-container {
  width: 633px;
  padding-top: 50px;
}

.strategy-container {
  /* width: 620px; */
  margin-left: 591px;
}

.image__container {
  position: absolute;
}

.image__container--rigth {
  right: -315px;
  top: 0;
}

/* .img {
  transition: all 5s linear;
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -ms-transition: all 5s linear;
  -o-transition: all 5s linear;
  transform-origin: left center;
}

.img:hover {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transform: rotate(1500deg);
  -webkit-transform: rotate(1500deg);
  -moz-transform: rotate(1500deg);
  -ms-transform: rotate(1500deg);
  -o-transform: rotate(1500deg);
  transform-origin: left bottom;
} */

.image__text {
  font-weight: 700;
  font-size: 64px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 118px;
  left: 238px;
}

.image__container--left {
  left: -315px;
  top: -104px;
}

.image__container--left::after {
  content: "";
  background-image: url(../images/diplom-rotate.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 425px;
  height: 530px;
  position: absolute;
  top: 25px;
  left: 470px;
}

.slogan {
  height: 95px;
  background-image: linear-gradient(
    180deg,
    #021b13 0%,
    #015038 62.5%,
    #028b62 100%
  );
  text-align: center;
  padding-top: 16px;
  margin-bottom: 100px;
}

.slogan__text {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

/* -------------------service---------------- */

.service {
  margin-bottom: 120px;
}

.service__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 50px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  margin: -16.5px;
}

.service__item {
  width: calc(100% / 3 - 33px);
  margin: 16.5px;
}

.service__text {
  font-size: 24px;
  line-height: 141.09%;
  color: #2b2b2b;
}

.service__container {
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 410px;
  height: 179px;
  display: flex;
  align-items: center;
  padding: 0 140px 0 67px;
}

.service__container--1 {
  background-image: url(../images/OUR-SERVICES-1.png), url(../images/01.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 50px;
}

.service__container--2 {
  background-image: url(../images/OUR-SERVICES-2.png), url(../images/02.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 60px;
}

.service__container--3 {
  background-image: url(../images/OUR-SERVICES-3.png), url(../images/03.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 63px;
}

.service__container--4 {
  background-image: url(../images/OUR-SERVICES-4.png), url(../images/04.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 66px;
}

.service__container--5 {
  background-image: url(../images/OUR-SERVICES-5.png), url(../images/05.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 66px;
}

.service__container--6 {
  background-image: url(../images/OUR-SERVICES-6.png), url(../images/06.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 66px;
}

.service__container--7 {
  background-image: url(../images/OUR-SERVICES-7.png), url(../images/07.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 60px;
}

.service__container--8 {
  background-image: url(../images/OUR-SERVICES-8.png), url(../images/08.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 66px;
}

.service__container--9 {
  background-image: url(../images/OUR-SERVICES-9.png), url(../images/09.png);
  background-repeat: no-repeat;
  background-position: right, -12px;
  background-size: contain, 79px;
}

.service__container--10 {
  background-image: url(../images/OUR-SERVICES-10.png), url(../images/10.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 69px;
}

.service__container--11 {
  background-image: url(../images/OUR-SERVICES-11.png), url(../images/11.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 53px;
}

.service__container--12 {
  background-image: url(../images/OUR-SERVICES-12.png), url(../images/12.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: contain, 65px;
}

/* --------------project----------- */

.project__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 50px;
}

/* -----slider------ */

.slaider-blok {
  position: relative;
  margin: 0 0 100px;
}
.swiper-project {
}

.project-item {
  min-width: 413px;
}
.slide__img {
}
.slide__img > img {
  width: 413px;
  height: 287px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin: 0 0 10px;
}
.slide__img > p {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 400;
  color: #2b2b2b;
}
/* .swiper__buttons {
position: absolute;
} */

.button-prev,
.button-next {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  transform: translateY(-60%);
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  cursor: pointer;
}
.button-prev {
  left: -90px;
  background: no-repeat center / cover url(../images/arrow-left.svg);
}
.button-next {
  right: -90px;
  background: no-repeat center / cover url(../images/arrow-rigth.svg);
}
.button-prev:hover,
.button-next:hover,
.button-next:focus,
.button-prev:focus {
  opacity: 0.8;
}

/*--------------start form------------ */

.form__container {
  width: 1920px;
  padding-left: 275px;
  padding-right: 275px;
  margin: 0 auto;
}

.form {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/bg-form.jpg);
  /* opacity: 0.4; */
  border-radius: 16px;
  width: 1370px;
  height: 445px;
  padding: 128px 134px 128px 133px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* margin-left: auto;
  margin-right: auto; */
  /* display: block; */
}

.form__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  font-size: 22px;
  line-height: 130%;
  width: 315px;
  height: 78px;
  background: #ffffff;
  border-radius: 16px;
  border: none;
  padding-left: 45px;
  outline: none;
}

.form__input::placeholder {
  font-size: 22px;
  line-height: 130%;
  color: #b1acac;
  transition: color 250ms linear;
}

.form__input:hover::placeholder,
.form__input:focus::placeholder {
  color: #000000;
}

.form__button-container {
  position: relative;
  display: inline-block;
}

.form__button {
  width: 446px;
  height: 89px;
}

.form__button-clon {
  width: 100%;
  height: 100%;
  left: 0;
  top: 4px;
  position: absolute;
  background-image: linear-gradient(
    90.07deg,
    #f1dd7c 4.21%,
    #f4e58d 45.13%,
    #c99527 91.92%
  );
  border-radius: 16px;
  display: inline-block;
}

.form__button-clon::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: linear-gradient(
    90.07deg,
    #c99527 4.21%,
    #f4e58d 45.13%,
    #f1dd7c 91.92%
  );
  border-radius: 16px;
  opacity: 0;
  transition: opacity 500ms linear;
}

.form__button-container:hover .form__button-clon::after,
.form__button-container:focus .form__button-clon::after {
  opacity: 1;
}

.form__button-text {
  font-weight: 600;
  font-size: 27px;
  line-height: 106.09%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 5;
}

/*--------------end form------------ */

/* --------------partners-------- */

.partners {
  padding-top: 100px;
  /* width: 1920px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.partners__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 40px;
}

.container__icon {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  /* width: 1920px;
  margin-left: auto;
  margin-right: auto; */
  margin-bottom: 100px;
}

/* -------------news---------- */

.news-container {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 116px;
}

.news__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 50px;
}
.swiper-news {
  height: 350px;
  padding: 50px 0;
}

.news__list {
  display: flex;
  align-items: center;
}

.news__item {
  position: relative;
  /* min-width: 415px; */
}

.news__container {
  width: 360px;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  padding: 150px 20px 0 20px;
  cursor: pointer;
}

.news__item:not(:hover) .news__big-container,
.news__item:not(:focus) .news__big-container {
  animation-name: changeNotOpacity;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.news__item:hover .news__big-container,
.news__item:focus .news__big-container {
  animation-name: changeOpacity;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  55% {
    opacity: 0.55;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes changeNotOpacity {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.8;
  }

  55% {
    opacity: 0.55;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

.news__item:hover .news__big-container,
.news__item:focus .news__big-container {
  transform: scale(1);
  /* opacity: 1; */
}

.news__item:hover .news__big-text,
.news__item:focus .news__big-text {
  transform: translateY(0);
}

.news__item:hover .news__text,
.news__item:focus .news__text {
  color: rgba(255, 255, 255, 0.6);
}
.news__item:hover .news__title-text,
.news__item:focus .news__title-text {
  color: rgba(255, 255, 255, 0.6);
}

.news__big-container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(../images/magazine-1.jpg);
  width: 415px;
  height: 285px;
  top: -20px;
  left: -27px;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transform: scale(0.87);
  transition: transform 300ms linear;
  z-index: 5;
}

.news__big-text {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: translateY(60%);
  transition: transform 350ms linear;
}

.news__big-container--2 {
  width: 440px;
  height: 315px;
  top: -40px;
  left: -35px;
  opacity: 0;
  transform: scale(0.87);
  transition: opacity 300ms linear, transform 300ms linear;
  z-index: 5;
}

.news__item:hover .news__big-container--2,
.news__item:focus .news__big-container--2 {
  transform: scale(1);
  opacity: 1;
}

.news__container--1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(../images/magazine-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news__container--2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(../images/magazine-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news__container--3 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(../images/magazine-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news__container--4 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(../images/magazine-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news__container--5 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(../images/magazine-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* .news__item + .news__item {
  margin-left: 25px;
} */

.news__title-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 94.29%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 5px;
}

.news__title-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 5px;
}

.news__text {
  line-height: 130%;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.news__text-black {
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 20%
  );
}

/* --------------cooperation----------- */

.cooperation__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-bottom: 15px;
}

.cooperation__development {
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  padding-bottom: 50px;
}

.cooperation__item {
  width: 1290px;
  height: 378px;
  border-radius: 16px;
}

.cooperation__item + .cooperation__item {
  margin-top: 30px;
}

.cooperation__item--1 {
  background-image: url(../images/cooperation-men-1.png),
    url(../images/cooperation-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: left 54px bottom, center;
  background-size: contain;
}

.cooperation__item--2 {
  background-image: url(../images/cooperation-men-2.png),
    url(../images/cooperation-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: right 81px bottom, center;
  background-size: contain;
}

.cooperation__item--3 {
  background-image: url(../images/cooperation-men-3.png),
    url(../images/cooperation-bg-3.jpg);
  background-repeat: no-repeat;
  background-position: left 15px bottom, center;
  background-size: contain;
}

.cooperation__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.cooperation__path-text {
  font-weight: 700;
}

.cooperation__text + .cooperation__text {
  margin-top: 52px;
}

.cooperation__item:nth-child(1) {
  padding: 47px 88px 0 478px;
}

.cooperation__item:nth-child(2) {
  padding: 103px 543px 0 42px;
}

.cooperation__item:nth-child(3) {
  padding: 33px 52px 0 479px;
}

.cooperation__list {
  margin-bottom: 100px;
}

/* -----------document--------- */

.document__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 50px;
  text-align: center;
}

.document__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.document {
  padding-bottom: 100px;
}

/* -------------contacts---------- */

.footer {
  width: 1920px;
  padding-left: 275px;
  padding-right: 275px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.address {
  font-style: normal;
  margin-top: 60px;
}

.contact__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 106.09%;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  margin-bottom: 55px;
}

.contact__item:not(:last-child) {
  margin-bottom: 37px;
}

.contact__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #2b2b2b;
  position: relative;
  display: flex;
}

.contact__icon--1::before {
  content: "";
  background-image: url(../images/location.svg);
  width: 22px;
  height: 25.4px;
  margin-right: 20px;
}

.contact__icon--2::before {
  content: "";
  background-image: url(../images/tel.svg);
  width: 22px;
  height: 25.4px;
  margin-right: 20px;
}

.contact__icon--3::before {
  content: "";
  background-image: url(../images/mail.svg);
  width: 35px;
  height: 25.4px;
  margin-right: 13px;
}

.social-list {
  display: flex;
  gap: 30px;
  margin: 40px 0 0;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #015038;
  transition: background-color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
}
.social-icon svg {
  width: 30px;
  height: 30px;
  fill: #e5d171;
  transition: fill 250ms linear;
  -webkit-transition: fill 250ms linear;
  -moz-transition: fill 250ms linear;
  -ms-transition: fill 250ms linear;
  -o-transition: fill 250ms linear;
}

.social-item:hover .social-icon svg,
.social-item:focus .social-icon svg {
  fill: #f4e58d;
}
.social-item:hover .social-icon,
.social-item:focus .social-icon {
  background-color: #028b62;
}

/* -------------fixed---------- */

.fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.4;
  transition: opacity 250ms linear;
}

.fixed:hover,
.fixed:focus {
  opacity: 0.8;
}

.fixed:hover .fixed__menu {
  transform: translateX(-50%) scaleX(1);
  -webkit-transform: translateX(-50%) scaleX(1);
  -moz-transform: translateX(-50%) scaleX(1);
  -ms-transform: translateX(-50%) scaleX(1);
  -o-transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

.fixed__menu {
  position: absolute;
  border: 5px solid transparent;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -moz-transform: translateX(-50%) scaleX(0);
  -ms-transform: translateX(-50%) scaleX(0);
  -o-transform: translateX(-50%) scaleX(0);
  width: 180px;
  height: 300px;
  background: linear-gradient(
    85deg,
    #021a12 1.43%,
    #01553b 48.97%,
    #028a61 95%
  );
  background-clip: padding-box;
  padding: 15px 7px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  opacity: 0;
  transition: transform 250ms linear 200ms, opacity 150ms linear 300ms;
  -webkit-transition: transform 250ms linear 200ms, opacity 150ms linear 300ms;
  -moz-transition: transform 250ms linear 200ms, opacity 150ms linear 300ms;
  -ms-transition: transform 250ms linear 200ms, opacity 150ms linear 300ms;
  -o-transition: transform 250ms linear 200ms, opacity 150ms linear 300ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fixed__item > a {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 106.09%;
}

.fixed__item:hover > a {
  color: #f4e58d;
}
